/WorkerManager/build/
/TienPhongBank/nbproject/private/
/TienPhongBank/build/
/TienPhongBankVer2/nbproject/private/
/matrix/nbproject/private/
/matrix/build/
/StudentAverageMark/nbproject/private/
/StudentAverageMark/build/
